<!-- 
  Launch file for the MAPIR web-based Human Robot Interface
  This node launches the Chrome web-page automatically with the interface
  See the extension parameters to configure the MQTT broker and topic
-->
<launch>
  <node pkg="webHRI" exec="webHRI" name="webHRI" output="screen" launch-prefix="xterm -e" />
</launch>
