<!-- 
  Launch file for the MAPIR chrome based HRI
  This node launches the Google Chrome Extension automatically
  See the extension parameters to configure the MQTT topic
-->
<launch>
  <node pkg="webHRI" exec="webHRI" name="webHRI" output="screen" launch-prefix="">
    <param name="script_ir" value="bphinpfjfpfccnmcdgbnlajdmdalfheb" />
  </node>
</launch>
